---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { wpquery } from '../graphql/wpQuery';

const data = await wpquery({
	query: `
		{
			posts{
				nodes{
					slug
					excerpt
					title
				}
			}
		}
	`,
});

function stripParagraphTags(input: string): string {
	if (!input) return '';
	return input.replace(/^<p>/, '').replace(/<\/p>\s*$/, '');
}
---

<Layout title="Astro + Headless WordPress example">
	<main>
		<p class="introduction">
			This is an example of connecting an Astro site to a locally running instance of<br />
			WordPress using the WPGraphQL plug-in.
		</p>
		<ul role="list" class="link-card-grid">
			{
				data.posts.nodes.map((post: any) => (
					<Card
						href={post.slug}
						title={post.title}
						body={stripParagraphTags(post.excerpt)}
					/>
				))
			}
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.introduction {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
